{% extends "base.html.twig" %}

    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}yassine{% endblock %}</title>

    {% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier de de l article</h1>
        {{person.nom}}

    </div
{% endblock %}


